
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>AMP Lab Newsletter - {{subject}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
 <body style="font-family: serif;">
    <img src="https://scontent-b.xx.fbcdn.net/hphotos-frc3/t1.0-9/1393714_10151939936694597_1313985147_n.jpg" height="150px">
    <h1 id="subject" style="text-align: center;color:#474747; display: inline-block; margin-left: 10px;">{{subject}}</h1>
    
    <table >
        <tbody>
            <tr>
                <td style="width:250px;padding:10px;color:#565656;">{{{navbar}}}</td>
                <td style="padding:10px;">{{{tbody}}}</td>
            </tr>
        </tbody>
    </table>
    
    <!-- <p>Trouble seeing this email?  Go <a href="{{host}}/">here</a>!</p> -->
 </body>
</html>


